@font-face {
  font-family:"fixture";
  src: url("../fonts/Fixture-Ultra-SemiBold.otf") format("opentype");
  font-weight: medium;
}
@font-face {
  font-family:"ananda";
  src: url("../fonts/Ananda-Black.ttf") format("truetype");
  font-weight: medium;
}
