@font-face {
  font-family:"Monoton";
  src: url("../../fonts/Monoton-Regular.ttf") format("opentype");
  font-weight: medium;
}

@font-face {
  font-family: 'fixture';
  src: url('../../fonts/fixture-ultra-semibold-webfont.woff2') format('woff2'),
       url('../../fonts/fixture-ultra-semibold-webfont.woff') format('woff');
}
