@import url(https://fonts.googleapis.com/css?family=Six+Caps|Oswald:400,300|Economica:400,700);

body {
  color: $light-orange;
  background-color: black;
  background: linear-gradient(180deg, #000 10%, $beige 360%);
  font-family: $primary-font;
  font-size: 1.4rem;
  height: 100%;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, black 50%, $beige 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration:8s;
}

.bg3 {
  animation-duration:10s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.flash {
  font-size: 1.4rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1000;
}

.navbar-link {
  color: $light-orange;
  margin: 0 0.5rem;
}

a {
  color: $dark-orange;
  text-decoration: none;
  &:hover {
    color: $light-orange;
    text-decoration: none;
  }
}

#jukebox-title {
  .sign-wrap h2 {
    font-family: 'Monoton', cursive;
    letter-spacing: 1rem;
    position: relative;
    text-shadow: 0px 3px 12px #ff7100;
    text-align: center;
    -webkit-text-stroke-color: $light-orange;
    animation: flicker-title-sign 20s linear infinite;
    color: transparent;
    font-size: 16rem;
    filter: blur(.75px);
    -webkit-text-stroke-width: 0.6px;
  }
}

#photo-jukebox {
  margin-top: 1rem;
  .sign-wrap h2 {
    text-align: center;
    font-family: $primary-font;
    font-size: 8rem;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff5f573;
    text-transform: uppercase;
    text-shadow: 0px 3px 12px rgba(0,0,0,.4);
    text-align: center;
    position: relative;
    &:before, &:after {
      content:"Photo-Jukebox";
      position: absolute;
      -webkit-text-stroke-color: $light-orange;
      animation: flicker-photo-jukebox 10s linear infinite;
    }
    &:before {
      text-shadow: 0px 0px 0px  $light-orange;
      -webkit-text-stroke-width: 4px;
      filter: blur(1.2px);
    }
    &:after {
      color: transparent;
      filter: blur(.75px);
      -webkit-text-stroke-width: 0.6px;
      left: 0;
      right: 0;
    }
  }
}

@keyframes flicker-title-sign {
  0% { opacity: 0.9; }

  5%  { opacity: 0.8; }
  6% { opacity: 1; }
  11% { opacity: .9; }
  11.25% { opacity: .7; }
  11.5% { opacity: .8; }
  18% { opacity: 1; }
  18.5% { opacity: .8; }
  22% { opacity: 0.8; }

  38.5% { opacity: 1; }
  39% { opacity: .8; }
  42% { opacity: 0.8; }

  60% { opacity: 0.9; }
  60.5% { opacity: 0.6; }
  62% { opacity: 0.7; }
  63% { opacity: 0.9; }
  63.25% { opacity: 1; }
  65% { opacity: 0.8; }

  73% { opacity: 0.7; }
  75% { opacity: 1; }
  79% { opacity: 0.2; }

  100% { opacity: 0.1; }
}


@keyframes flicker-photo-jukebox {
  0% { opacity: 0.9; }

  5%  { opacity: 0; }
  6% { opacity: 1; }
  11% { opacity: .9; }
  11.25% { opacity: .1; }
  11.5% { opacity: .7; }
  18% { opacity: 1; }
  18.5% { opacity: .2; }
  22% { opacity: 0.8; }

   38.5% { opacity: 0.7; }
  39% { opacity: .8; }
  42% { opacity: 0.6; }

  60% { opacity: 1; }
  60.5% { opacity: 0; }
  62% { opacity: 0; }
  63% { opacity: 0.5; }
  63.25% { opacity: 0; }
  65% { opacity: 1; }

  73% { opacity: 1; }
  75% { opacity: .8; }
  79% { opacity: 1; }

  100% { opacity: 0.8; }
}

.container {
  margin: auto;
  text-align: center;
  width: 80%;
  .spotify {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 3rem;
    span {
      display: inline-block;
      vertical-align: text-bottom;
      height: 3rem;
    }
    .spotify-logo {
      display: inline-block;
      margin-right: 1rem;
      margin-left: 1rem;
      width: 3rem;
      height: 3rem;
    }
  }
  &--login {
    padding-top: 10rem;
  }
  &--user {
    padding-top: 5rem;
    #jukebox-title .sign-wrap h2 {
      font-size: 15rem;
    }
    #photo-jukebox {
      margin-top: 1rem;
      .sign-wrap h2 {
        font-size: 8rem;
      }
    }
  }
}

.options {
  position: absolute;
  top: 10px;
  left: 10px;
}
.title {
  text-align: left;
  font-size: 3rem;
  margin: 10rem 4rem 3rem;
  color: $beige;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  &--center {
    margin-top: 4rem;
    letter-spacing: 0.3rem;
    text-align: center;
  }
}

.card {
  font-family: $primary-font;
  border-radius: 0.3rem;
  display: inline-block;
  background: linear-gradient(to right, $beige, #F8F1E1);
  border: 1px solid #797470;
  position: relative;
  width: 100%;
  margin: 0 3rem 5rem;
  &:before {
    content: "";
    display: block;
    height: 100%;
    opacity: 0.8;
    top: 0;
    position: absolute;
    width: 2%;
    // background: linear-gradient(to right, #635e5a 0, #63645c 10%, #8a8484 30%, #8e8983 40%, #afa6a1 60%, $beige 80%, rgba(202, 196, 182, 0));
    left: 0;
  }
  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    .icon {
      display: inline-block;
      margin-right: 1rem;
      margin-left: 1rem;
      width: 2rem;
      height: 2rem;

    }
  }
  .card__title_bar {
    padding: 2rem;
    &__title {
      color: #000;
      font-size: 2.4rem;
    }
    &__date {
      font-size: 1.6rem;
      color: $silver;
    }
  }
  .splide {
    padding-bottom: 5rem;
    .track {
      color: #000;
      font-size: 1.8rem;
      padding: 2rem 0 0.5rem;
    }
    .time {
      color: $silver;
    }
    .splide__arrow {
      height: 5rem;
      width: 5rem;
    }
    .splide__slide img {
      width : 80%;
      height: auto;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .splide__arrow {
      background: $silver;
    }
    .splide__pagination__page {
      background: $silver;
    }
  }
  &__no_content {
    padding: 5rem;
    font-size: 1.8rem;
  }
}

.settings {
  margin-top: 5rem;
  &--spotify {
    margin-top: 10rem;
  }
  &--new {
    vertical-align: middle;
    width: 50%;
    margin: auto;
    @media (max-width:801px) {
      width: 80%;
    }
  }
  &__group {
    margin: 5rem 0;
  }
  &__link {
    font-size: 20px ;
    line-height: 3rem;
    vertical-align: top;
  }
  &__title {
    display: inline-block;
    font-size: 1.4rem;
    color: $beige;
    margin-right: 0.5rem;
  }
  &__value {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bolder;
    margin-right: 1rem;
    margin-top: 0.5rem;
    color: $beige;
    letter-spacing: 0.2rem;
  }

  &__form {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: left;
    .form__group {
      margin-bottom: 2rem;
    }
    label {
      font-size: 1.6rem;
    }
    input:enabled:not([type="submit"]), select {
      background: linear-gradient(to right, $beige, #F2EDDA, #F8F1E1);
      font-size: 1.6rem;
      display: block;
      width: 100%;
      height: 3rem;
    }
    input[type=submit] {
      background-color: transparent;
    }
    .hint {
      color: $beige;;
      font-size: 1.4rem;
    }
    .form__link {
      cursor: pointer;
      color: $dark-orange;
      font-size: 1.6rem;
      margin-top: -1rem;
      margin-left: 3rem;
      margin-bottom: 2rem;
      display: inline-block;
      &:hover {
        color: $light-orange;
      }
    }
  }
}

.button {
  border-radius: 0.3rem;
  display: inline-block;
  text-align: center;
  background: linear-gradient(to right, $beige, #F2EDDA, #F8F1E1);
  border: 1px solid #797470;
  position: relative;
  &__submit {
    margin-top: 4rem;
    width: 60%;
    display: block;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }
  &__text {
    font-size: 1.8rem;
    display: inline-block;
    cursor: pointer;
    padding: 1.5rem 8rem !important;
    color: #040000;
    font-family: $primary-font;
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
    &:before, &:after {
      content: "";
      display: block;
      width: 0;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      position: absolute;
      height: 3px;
      bottom: 45%;
      opacity: 0.3;
      border-radius: 5px;
      border-right: 15px solid #000;
    }
    &:before {
      left: 50px;
    }
    &:after {
      right: 50px;
      border-right: 0;
      border-left: 15px solid #000;
    }
  }
  &:before, &:after {
    content: "";
    display: block;
    height: 100%;
    opacity: 0.8;
    top: 0;
    position: absolute;
    width: 5%;
  }
  &:before {
    background: linear-gradient(to right, #635e5a 0, #63645c 10%, #8a8484 30%, #8e8983 40%, #afa6a1 60%, $beige 80%, rgba(202, 196, 182, 0));
    left: 0;
  }
  &:after {
    background: linear-gradient(to left, #635e5a 0, #63645c 10%, #8a8484 30%, #8e8983 40%, #afa6a1 60%, $beige 80%, rgba(202, 196, 182, 0));
    right: 0;
  }
}

.instructions {
  width: 50%;
  margin: 5rem auto;
  text-align: left;
  color: $light-orange;
  font-size: 1.6h;
  @media (max-width:801px) {
    width: 80%;
  }
  &__title {
    color: $beige;
    margin: 2rem 0 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  ul li {
    margin-bottom: 0.5rem;
    &::before {
      content: ">>";
      color: $beige;
      font-weight: bold;
      display: inline-block;
      width: 2rem;
    }
  }
}