<div class="container container--login">
  <div class="spotify">
    <%= link_to "https://www.spotify.com/", target:"_blank" do %>
      <span>Powered by</span>
      <%= image_tag 'spotify-logo.png', class:"spotify-logo" %>
    <% end %>
  </div>
  <div id="jukebox-title">
    <div class="sign-wrap">
      <div class="sign">
        <h2>Spotify</h2>
      </div>
    </div>
  </div>
  <div id="photo-jukebox">
    <div class="sign-wrap">
      <div class="sign">
        <h2>Photo-Jukebox</h2>
      </div>
    </div>
  </div>
  <div class="settings settings--spotify">
    <div class="button">
      <%= link_to "Sign up with Spotify", user_spotify_omniauth_authorize_path(show_dialog: true), method: :post, class:"button__text" %>
    </div>
  </div>
</div>
